Capstone/reports/screenshots/BF001_VerifyBookingServiceSuccessfully_20250827_194503_938.png
Capstone/reports/screenshots/BF002_VerifyBookingAServiceTwice_20250827_194520_127.png
Capstone/reports/screenshots/BF002_VerifyBookingAServiceTwice_20250827_194655_386.png
Capstone/reports/screenshots/BF002_VerifyBookingAServiceTwice_20250827_211355_704.png
Capstone/reports/screenshots/BF002_VerifyBookingServiceUnsuccessfully_20250827_191835_230.png
Capstone/reports/screenshots/BF003_VerifyBookedServiceInProfilePage_20250827_211410_362.png
Capstone/reports/screenshots/BF003_VerifyBookedServiceInProfilePage_20250827_211502_304.png
Capstone/reports/screenshots/BF003_VerifyBookedServiceInProfilePage_20250827_211749_358.png
Capstone/reports/screenshots/BF003_VerifyBookingServiceUnsuccessfully_20250827_194447_893.png
Capstone/reports/screenshots/BF003_VerifyBookingServiceUnsuccessfully_20250827_194635_584.png
Capstone/reports/screenshots/BF004_VerifyBookingServiceUnsuccessfully_20250827_211335_926.png
Capstone/reports/screenshots/JOB_03b_choosePackage_20250824_201929_767.png
Capstone/reports/screenshots/JOB_03b_choosePackage_20250824_201947_230.png
Capstone/reports/screenshots/JOB_03b_choosePackage_20250824_202004_799.png
Capstone/reports/screenshots/JOB_04a_continueRequiresLogin_20250827_190522_683.png
Capstone/reports/screenshots/JOB_04a_continueRequiresLogin_20250827_190911_017.png
Capstone/reports/screenshots/JOB_04a_continueRequiresLogin_20250827_191006_432.png
Capstone/reports/screenshots/JOB_04a_continueRequiresLogin_20250827_191154_375.png
Capstone/reports/screenshots/JOB_07_commentAndRating_20250824_202122_618.png
Capstone/reports/screenshots/JOB_10_filterByStars_20250824_202302_368.png
Capstone/reports/screenshots/JOB_12b_helpfulYesNoChangesColor_20250824_202314_801.png
Capstone/reports/screenshots/JOB_13b_comparePackagesRemoveItem_20250824_202337_597.png
Capstone/reports/screenshots/JOB_14b_contactMeLoggedIn_20250824_202352_452.png
Capstone/reports/screenshots/JOB_15_invalidIdRedirectsHome_20250824_202357_330.png
Capstone/reports/screenshots/testBookingFlowWhenLoggedIn_20250827_185707_620.png
Capstone/reports/screenshots/VerifyBookingServiceSuccessfully_20250827_190925_971.png
Capstone/reports/screenshots/VerifyBookingServiceSuccessfully_20250827_191021_483.png
Capstone/reports/screenshots/VerifyBookingServiceUnsuccessfully_20250827_191423_160.png
Capstone/target/test-classes/pages/ProfilePage.class
Capstone/target/test-classes/scripts/BookingFlowTest.class
*.png
